{
  "presets": [
    ["env", {
      "targets": {
        "node": 12.14
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-runtime",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    "espower",
    "add-module-exports"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
